[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/pack/start/ag.vim"]
	path = vim/pack/pack/start/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/pack/pack/start/neomake"]
	path = vim/pack/pack/start/neomake
	url = https://github.com/neomake/neomake
[submodule "vim/pack/pack/start/vim-airline"]
	path = vim/pack/pack/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/pack/start/vim-colors-solarized"]
	path = vim/pack/pack/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/pack/pack/start/vim-commentary"]
	path = vim/pack/pack/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/pack/start/vim-tmux-navigator"]
	path = vim/pack/pack/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
